// Contact form layout
.contact-form {
  display: grid;
  grid-row-gap: 24px;

  &-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;

    @include tablet {
      grid-template-columns: 1fr;
      grid-row-gap: 24px;
    }
  }
}
