.SideMenu {
  &-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-500);
    height: 50px;
    border-bottom: 1px solid var(--purple-600);
  }

  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--purple-500);
    height: 100vh;
    width: 180px;
  }

  &-li {
    display: flex;
    align-items: center;
    height: 50px;
    color: var(--grey-500);
    padding-left: 16px;
  }

  &-li a {
    color: var(--grey-500);
    text-decoration: none;
  }

  &-li:hover {
    color: var(--app-white);
    background-color: var(--purple-400);
  }

  &-li:hover a {
    color: var(--app-white);
  }

  &-li:hover &-li-icon > svg {
    fill: var(--app-white);
  }

  &-li-icon {
    display: inline-block;
    margin-right: 16px;
  }

  &-li-icon > svg {
    fill: var(--grey-500);
  }
}
