html,
body {
  font-family: "Roboto", sans-serif;
}

:root {
  --app-white: #ffffff;
  --grey-100: #e7e3e3;
  --grey-200: #f6f7f8;
  --grey-300: #fafbfb;
  --grey-500: #abaeb9;
  --green-500: #49cc99;
  --green-600: #71c65b;
  --purple-400: #233456;
  --purple-500: #192842;
  --purple-600: #151d33;
}

.svg {
  fill: currentColor;
}
